<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <a class="navbar-brand text-light fw-bold" href="#">
            <img src="assets/images/logos/groves-logo.png" alt="Logo" height="30" class="d-inline-block align-text-top" />
          </a>
          
  
  
      <div class="d-flex align-items-center">
  
        <a href="#" class="text-light me-3">
          <i class="fab fa-tiktok"></i>
        </a>
        <a href="#" class="text-light me-3">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="text-light me-3">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="text-light me-3">
          <i class="fab fa-snapchat"></i>
        </a>
  
  
        <button class="btn btn-warning btn-sm text-light me-3 login-btn">Log in</button>
        <!-- <a class="login-btn text-light fw-bold" href="#">
            <img src="assets/images/logos/groves-logo.png" alt="Logo" height="30" class="d-inline-block align-text-top" />
          </a> -->
  
        <div class="dropdown">
          <button
            class="btn btn-outline-light btn-sm dropdown-toggle"
             type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/logos/uk-flag.png" alt="English" height="15" class="me-1" /> English
          </button>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><a class="dropdown-item" href="#">Spanish</a></li>
            <li><a class="dropdown-item" href="#">French</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  