<div class="footer " id="footer">
    <div class="container px-md-5 col-12 col-md-11">
      <div class="row d-flex flex-column text-lg-start">
        <div class="logo mbl mb-5"><a class="navbar-brand text-light fw-bold" href="#">
            <img src="assets/images/logos/groves-logo.png" alt="Logo" height="50"  />
          </a>
        </div>
        <!-- top Section -->
        <div class="col-md-12 mb-4 d-flex flex-column flex-md-row justify-content-between align-items-md-center">
          <h1 class="display-1">Join us for an <br> unforgettable experience</h1>
            <div>
                <p>Download the groves app</p>
              <div class="app-icons">
                  <img src="assets/images/icons/apple_App_Store.svg" alt="Google Play" />
                  <img src="assets/images/icons/google-play.svg" alt="App Store" />
                </div>
            </div>
        </div>
        <!-- middle Section -->
        <div class="col-md-10 mt-md-3 d-flex flex-column flex-md-row justify-content-between">
          <div>
            <p class="section-title">LOCATION</p>
            <p>
              Al-Hizam Park<br />
              Al-Semairi, Yanbu Al Bahr 46455<br />
              Riyadh Saudi Arabia
            </p>
          </div>
          <div>
            <p class="section-title">WORKING HOURS</p>
            <p>
              Sun until Thurs: 4:00PM<br />
              Fri & Sat: 2:30PM<br />
              Gates Close at:<br />
              Sat until Wed: 12:00AM<br />
              Thu & Fri: 12:30AM
            </p>
          </div>
          <div>
            <p class="section-title">GUEST SERVICE CALL</p>
          <p>
            <a  href="mailto:cc@thegroves-sa.com">cc thegroves-sa.com</a><br />
            920001672<br />
            +966556631309
          </p>
          </div>
        </div>

      </div>
      <div class="terms d-flex flex-column gap-md-5 flex-md-row justify-content-between align-items-md-center">
      <div class="logo desktop"><a class="navbar-brand text-light fw-bold" href="#">
        <img src="assets/images/logos/groves-logo.png" alt="Logo" height="50"  />
      </a>
    </div>
    <div class="social-icons d-flex align-items-center">

      <a href="#" class="text-light me-3">
        <i class="fab fa-tiktok"></i>
      </a>
      <a href="#" class="text-light me-3">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="text-light me-3">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="text-light me-3">
        <i class="fab fa-snapchat"></i>
      </a>
</div>
</div>
      <!-- Footer Bottom -->
      <div class=" mt-md-4 col-md-12 mb-md-4 d-flex flex-column flex-md-row justify-content-between align-items-md-center">
        <div class="terms d-flex flex-column gap-md-5 flex-md-row justify-content-between align-items-md-center">
          <a  href="#">Terms & Conditions</a> <a  href="#">Privacy Policy</a>
          <p class=" mb-0">
              ©2023 The Groves for Entertainment
          </p>
        </div>
      </div>
    </div>
  </div>
  