<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-header></app-header>
<app-manubar></app-manubar> -->

<div class="home-section">
  <app-home></app-home>
</div>
<div class="hero-section" >
  <app-hero-section></app-hero-section>
  <app-footer></app-footer>
</div>

<!-- 
<main class="main">
  <div class="content">
    <ul>
      <li (click)="routerFuncion('about')" routerLink="['/about']">Home</li>
      <li><a (click)="routerFuncion('home')"  >About</a>
      <li><a routerLink="/contect" >Contact Us</a>
    </ul>
  </div>
</main> 


<router-outlet/> -->